@import url(./main.css);

.container {
    width: 80%;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
}

.header .add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.add-button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: black;
}

.action-buttons{
    display: flex;
    justify-content: flex-end;
}
.action-buttons button {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.action-buttons button.delete {
    background-color: #f44336;
}

.action-buttons button:hover {
    opacity: 0.8;
}