@font-face {
  font-family: "Imperial Script";
  src: url("ImperialScript-Regular.woff2") format("woff2"),
    url("ImperialScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
